.title{
    border: double 5px lightblue;
    text-align: center;
}
.red{
    color:red;
}
.END{
    color: red;
    border: double 5px red;
    text-align: center;
}
kasenn{
    border-bottom: solid 1px red;
}
.kimidori{
    color: lightgreen;
}
.red-2{
    background-color: red;
}
.sample{
    background-color: aliceblue;
    background-size:auto;
}
.title2{
    border:double 5px lightblue;
    color:black;
    padding: 10px;
    text-align: center;
    font-size:2;
}
a:link{
    color:blue;
}
a:visited{
    color: blue;
}
a:hover{
    color: red;
}
a{
    text-decoration: solid;
}
.a{
    border: double 2px lightgreen;
    margin-top:0;
    margin-bottom: 0;
    margin-right:20px ;
}
.a{
    border: double 2px lightgreen;
    margin-top:0;
    margin-bottom: 0;
    margin-right:20px ;
}
.cc{
    border-radius: 7px;
    background-color: greenyellow;
    font-size:30px;
}
